@import "./variables";

@mixin default-shadow {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(45, 52, 84, 0.14);
  -moz-box-shadow: 0px 0px 20px 0px rgba(45, 52, 84, 0.14);
  box-shadow: 0px 0px 20px 0px rgba(45, 52, 84, 0.14);
}

@mixin default-border-radius {
  border-radius: 20px;
}

@mixin background-primary-gradient {
  background: linear-gradient(to right, $primary, $secondary);
}

@mixin text-primary-gradient {
  @include background-primary-gradient();
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin border-fade($hover-color) {
  display: inline-block;
  vertical-align: middle;
  border-radius: 12px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  box-shadow: inset 0 0 0 2px #e1e1e1, 0 0 1px rgba(0, 0, 0, 0);

  &:hover,
  &:focus,
  &:active {
    box-shadow: inset 0 0 0 2px $hover-color, 0 0 1px rgba(0, 0, 0, 0);
  }
}