$primary: #22c1c3;
$primary-light: #6af4f6;
$primary-dark: #009093;
$secondary: #fdbb2d;
$secondary-light: #ffed62;
$secondary-dark: #c58b00;
$tomato: #fe654f;
$tomato-light: #ff977c;
$tomato-dark: #c53125;
$oxford: #011936;
$oxford-light: #2f3f60;
$oxford-dark: #000011;
$title-color: #49515f;
$text-color: #49515f;
$default-background: #f2f3f8;