$primary: #00a6ed;
$primary-light: #65d7ff;
$primary-dark: #0077ba;
$secondary: #a9d43b;
$secondary-light: #e9ff72;
$secondary-dark: #80b100;
$tomato: #fe654f;
$tomato-light: #ff977c;
$tomato-dark: #c53125;
$oxford: #011936;
$oxford-light: #2f3f60;
$oxford-dark: #000011;
$title-color: #192029;
$text-color: #3a485a;