@import '../../styles/variables';

.primary {
  fill: $primary;
}

.primary-light {
  fill: $primary-light;
}

.primary-dark {
  fill: $primary-dark;
}

.secondary {
  fill: $secondary;
}

.secondary-light {
  fill: $secondary-light;
}

.secondary-dark {
  fill: $secondary-dark;
}

.tomato {
  fill: $tomato;
}

.tomato-light {
  fill: $tomato-light;
}

.tomato-dark {
  fill: $tomato-dark;
}

.oxford {
  fill: $oxford;
}

.oxford-light {
  fill: $oxford-light;
}

.oxford-dark {
  fill: $oxford-dark;
}

.white {
  fill: white;
}